h1 {
    color: red;
}

.edit_question_inner_div_main_container {
    /* border: 1px solid black; */
    padding-top: 1rem;
    padding-right: 5rem;
}

.user_info {
    font-family: "Inter";
    margin-bottom: 0;
}

.user_detail {
    margin-top: 0;
    color: gray;
}

.edit_btn {
    border: 0.5px solid orangered !important;
    background-color: orangered;
    color: white;
}

.edit_btn:hover {
    background-color: rgba(255, 68, 0, 0.291) !important;
    color: orangered !important;
}

.cancle_btn {
    border: 0.5px solid orangered !important;
    color: orangered !important;
}

.queContent{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

