.new_event_post_container {
    margin: 20px;
}

.form-label {
    font-size: 18px ;
    margin-bottom: 2px;
}


.post_event_btn {
    background-color: orangered;
    margin-top: 1rem;
    /* padding: 10px 20px; */
    color: white;
    font-size: 20px;
    /* border-radius: 1.5rem; */
}

.post_event_btn:hover {
    border: 1px solid orangered;
}



/* check box styling */

.checkbox-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.custom-checkbox {
    border: 1px solid orange;
    padding: 5px 20px;
    margin: 10px 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}



.custom-checkbox.checked {
    background: orangered; /* Orange when checked */
    border: orangered;
    color: white;
}

@media screen and (max-width: 900px) {
    .new_event_post_container {
        margin: 0;
    }
}